#top{
    text-align: center;
}
#vline{
    border-color: silver;
    border: solid;
    display: inline;
}
#line{
    border-right: gray;
    border-right-width: 2pt;
}
#banner{
    background-image: url("banner.jpg");
    color: white;
    height: 250pt;
    text-align: center;
    /* margin: 0px;
    padding: 0px; */
}
h1{
    padding-top: 100pt;
    letter-spacing: 10pt;
}
input[type="text"]{
    width: 300px;
    height: 40px;
}
input[name="mi"]{
    width: 50px;
}
input[name="fName"]{
    width: 200px;
}
#onecard{
    /* margin: auto; */
    padding-top: 20px;
    /* padding-left: 40px; */
    float: right;
}
#form{
    float: left;
    margin-right: 40px;
}
footer{
  float: left;
  margin-left: 80px;
}



