
/*
  8/29/2012kl  CSS for partial solution to Homework06 Animation.
  Has been validated.
  See ascii.js for more comments on status.
 */

body {
  background-color: #CCCCFF;
  font-family:  sans-serif;
  font-size: 14pt;
  font-weight: bold;
  }
  
  
.ctrl {
  border: 5px solid black;
  max-width: 140px;
  display: inline;
  vertical-align: top;
}